<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhuwenhao.flipped">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".FlippedApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bandwagon.activity.BandwagonActivity"
            android:label="@string/bandwagon"
            android:theme="@style/AppTheme.SubActivity" />
        <activity
            android:name=".bandwagon.activity.BandwagonDetailActivity"
            android:label="@string/bandwagon"
            android:theme="@style/AppTheme.SubActivity" />
        <activity
            android:name=".movie.activity.SelectCityActivity"
            android:label="@string/select_city"
            android:theme="@style/AppTheme.SubActivity" />
        <activity
            android:name=".rss.activity.RssActivity"
            android:label="@string/rss"
            android:theme="@style/AppTheme.SubActivity" />

        <activity
            android:name=".widget.DayWidgetConfigureActivity"
            android:theme="@style/AppTheme.SubActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.DayWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_day" />
        </receiver>
    </application>

</manifest>